<!doctype html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <title>Baker Basement</title>
</head>
<h1>Matchup: {{ left.title }} vs {{ right.title }}</h1>
<div style="float: left; width: 300px;">
<h3>{{ left.title }}</h3>
<a href="/set_winner/{{ left.url }}"><img src="{{url_for('static', filename='images/'+ left.url +'.jpg')}}" style="width:300px;" /></a>
<p>({{ left.date[0:4] }}, {{ left.review_rating }}/10) -- {{ left.description }}</p>
{% if right.trailer %}
<p><a href="https://www.imdb.com{{ left.trailer}}">view trailer</a></p>
{% endif %}
</div>
<div style="float: left; width: 300px; margin-left: 15px;">
<h3>{{ right.title }}</h3>
<a href="/set_winner/{{ right.url }}"><img src="{{url_for('static', filename='images/'+ right.url +'.jpg')}}" style="width:300px;" /></a>
<p>({{ right.date[0:4] }}, {{ right.review_rating }}/10) -- {{ right.description }}</p>
{% if right.trailer %}
<p><a href="https://www.imdb.com{{ right.trailer}}">view trailer</a></p>
{% endif %}
</div>